
*, ::after, ::before {
    box-sizing: border-box;
}

:root {
    --font-size-base: 16px;
    --gap: 0;
    --post-padding: 5rem 1rem;
    --post-margin: .5rem auto 1rem;
    --heading-font-size: 2rem;
    --body-bd: #eeeef8;
    --body-color: #121213;
    }

.body {
    margin: var(--post-margin);
    font-size: calc(var(--font-size-base));
    background-color: var(--body-bg);
    color:var(--body-color);
}

.main-container{
    display: flex;
    flex-direction: column;
    width: 100%; 
    max-width: 912px; 
 }

h2 {
    font-size: calc(var(--font-size-base)*1.5); 
    margin: 0 0 1rem;  
}

h3 {
    font-size: calc(var(--font-size-base)*1);  
}

.box{
    display: grid;
    grid-template-columns: repeat(3,280px);
    grid-template-rows: repeat(2, 1fr);
    gap:0;   
    margin: 0;
    padding: 0;
}

@media (max-width:768px) {
    :root {
        --body-bd: #eeeef8;
        --body-color: #121213;
        --gap: 20px;
        --post-padding: .5rem 2rem;
        --post-margin:.5rem auto 1rem;
        --heading-font-size: 20rem;
        }
        
   .box {
       display: grid;
       justify-items: end;
       grid-template-columns: repeat(2, 240px);
       grid-template-rows: repeat(3, 1fr);
       gap: 40px 50px;
       padding:var(--post-padding);
       margin:var(--post-margin);
    }
}


@media (max-width:380px) {
    :root {
        --body-bd: #eeeef8;
        --body-color: #121213;
        --gap: 20px;
        --post-padding: .5rem 2rem;
        --post-margin:.5rem auto 1rem;
        --heading-font-size: 20rem;
        }
        
   .box {
       display: grid;
       justify-items: end;
       grid-template-columns: repeat(2, 240px);
       grid-template-rows: repeat(3, 1fr);
       gap: 40px 50px;
       padding:var(--post-padding);
       margin:var(--post-margin);
    }
}

.box__item-img {
    display: flex;
    width: 260px;
    height: 280px;
    border-top: 10px solid #0f0f0e;
    border-left: 10px solid #0f0f0e;
    border-right: 10px solid #0f0f0e;
    border-bottom: 40px  solid #0f0f0e;   
}
   
.box__item-place {
    justify-content: center;
    text-align: center;
    font-size: 14px;
}

@media (prefers-color-scheme: dark){
    .body {
        background-color: var(--body-bg);
        color:var(--body-color);
    }  
    .box__item-img {
        border-top: 10px solid #f8f8f4;
        border-left: 10px solid #f8f8f4;
        border-right: 10px solid #f8f8f4;
        border-bottom: 40px  solid #f8f8f4;   
    }  
}

@media (prefers-color-scheme: light){
    .body {
        background-color: var(--body-color);
        color:var(--body-bg);
    } 
    .box__item-img {
        border-top: 10px solid #0f0f0e;
        border-left: 10px solid #0f0f0e;
        border-right: 10px solid #0f0f0e;
        border-bottom: 40px  solid #0f0f0e;   
    }
}


